.Tags{
    display: flex;
    position: absolute;
    font-family: Poppins;
    font-size: 11px;
    align-items: baseline;
}

.Tags span {
    padding: 3px 9px;
    border-radius: 8px;
}

.Tags .Offer {
    margin-left: 10px;
    background-color: #DED3FF;
    color: #2A00A2;
}